@import url("reset.css");
@import url("fonts.css");

body
{
	font-family: "centrale_sansmedium", Arial;
	text-align:left;
	background: #fff;
}

@media (max-width: 750px)
{
	header
	{
		background: url("../images/background_mobile.jpg") center center no-repeat;
	}
}

@media (min-width: 750px)
{
	header
	{
		background: url("../images/background.jpg") center 70% no-repeat;
	}
}

#content
{
	position: relative;
	z-index: 25;
}

header
{
	width: 100%;
	height: 45%;
	color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

h1,h2,h3
{
	font-family: "centrale_sansbold";
}

h1
{
	font-size: 42px;
	opacity: 0.8;
}

header h1
{
	text-align: center;
	opacity: 0.8;
}

h2
{
	font-size: 24px;
	background: #000;
}

h3
{
	font-size: 18px;
}

#teaser
{
	margin-top: 3%;
	margin-bottom: 5%;
	padding-bottom: 5%;
	border-bottom: 1px solid #ccc;
}

.highlight
{
	border-bottom: 5px solid #2ECC71;
	color: #2ECC71;
}

.highlight-faint
{
	border-bottom: 5px solid #dbe7e0;
	color: #222;
}

hr
{
	margin-bottom: 5%;
}

#logo
{
	width: 80%;
	margin-left: 10%;
}

#logo-wrapper
{
	width: 100%;
	position: relative;
}

#faq
{
	/*height: 25%;*/
	/*position: relative;*/
	margin: 0 12.5%;
}

.button-wrapper
{
	position: relative;
	top: -16px;
	text-align: center;
}

#register
{
	top: -30px;
	margin-bottom: -31px;
	display: none;
}

.button-wrapper input[type=text]
{
	background: #fff;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	width: 40%;
	padding: 20px 20px 20px 20px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	color: #000;
	font-weight: bold;
	transition: 100ms ease-in;
	border: 1px solid #aaa;
	border-top: 1px solid #666;
	position: relative;
	text-transform: none;
	box-shadow: 0px -2px 0px rgba(26,105,60,0.4);
}

.button-wrapper input[type=text]:focus
{
	outline:none;
}

.button-wrapper input[type=submit]
{
	margin: 0;
	background: #2ECC71;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	padding: 18px 25px 19px 15px;
	-webkit-border-top-right-radius: 30px;
	-webkit-border-bottom-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	-moz-border-radius-bottomright: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	color: #fff;
	font-weight: bold;
	transition: 100ms ease-in;
	border: 1px solid #27AE60;
	box-shadow: 0px -2px 0px rgba(26,105,60,0.4);
	margin-left: -5px;
}

.button-wrapper input[type=submit]:hover
{
	cursor: pointer;
}

.button
{
	background: #2ECC71;
	text-decoration: none !important;
	font-size: 24px;
	text-transform: uppercase;
	padding: 15px 10%;
	border-radius: 30px;
	color: #fff;
	font-weight: bold;
	transition: 100ms ease-in;
	border: 1px solid #27AE60;
	box-shadow: 0px -2px 0px rgba(26,105,60,0.2);
}

.button:hover
{
	background: #27AE60;
}

.result-well
{
	display: block;
	padding: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-bottom: 20px;
}
.result-well-success
{
	background: #4ba157;
	color: #fff;
}
.result-well-success a
{
	color: #26602e;
	font-weight: 600;
	background: #fff;
	padding: 0px 4px 3px 4px;
	margin: 0 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.result-well-success a:hover
{
	background: #26602e;
	color: #fff;
	text-decoration: none;
}
.result-well-error
{
	background: #e95950;
	color: #fff;
}

.sponsors {
	margin: 0 12.5%;
	padding: 0 10px;
}
.sponsors h1{
	border-bottom: 1px solid #ccc;
	text-align: center
}
.sponsors > .giga,.evangelist,.seed {
	padding: 10px 0;

}
.sponsors .giga > img {
	max-width: 50%;
	min-width: 200px;
	/*margin-left:25%;  hack until more logos are added */
}
.sponsors .evangelist >img  {
	max-width: 25%;
	min-width: 150px;
	/*margin-left:25%;  hack until more logos are added */
}
.sponsors img {
	-webkit-filter: grayscale(1.0);
	padding: 0 5px;
}
.sponsors img:hover {
	-webkit-filter: grayscale(0.0);
}
.sponsors .seed > img {
	max-width: 12.5%;
	min-width: 75px;
}
footer
{
	background: #111;
	padding: 5% 12.5%;
	margin-top: 5%;
}

footer h3
{
	font-family: "centrale_sansmedium";
	color: #555;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

a
{
	color: #2ECC71;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

a.sponsorship-link
{
	text-align: center; 
	display: block; 
	margin: -30px 0 -0px 0;
}

footer a
{
	border-bottom: 2px solid #2ECC71;
	color: #eee;
	text-decoration: none;
	opacity: 0.3;
	transition: 100ms ease-in;
}

footer a:hover
{
	opacity: 1.0;
	text-decoration: none;
}
